### Lets see the same thing but more comprehensive, with more topics/content_categories, and more interaction methods such as time spent, sharing to friends, commenting, etc.
# **Comprehensive But Still Dumb Algorithm**
Better but yeah still dumb, why? you'll get to know it in a while

In [157]:
import random
import pandas as pd

In [ ]:
#here are some more categories and sub categories
content_categories_dict = {
    "Animals & Nature": [
        "cats", "dogs", "birds", "wildlife", "aquatic life", "nature", "landscapes"
    ],
    "Entertainment": [
        "movies", "tv shows", "gaming", "anime", "sports", "memes", "music", "dance"
    ],
    "Lifestyle": [
        "travel", "food", "fashion", "fitness", "photography", "beauty", "home decor"
    ],
    "Education & Knowledge": [ 
        "science", "space", "history", "psychology", "technology", "coding", "finance"
    ],
    "Inspiration & Personal Growth": [
        "motivation", "self-care", "mindfulness", "productivity", "philosophy"
    ],
    "Trends & Modern Culture": [
        "AI", "crypto", "gadgets", "cars", "current events", "startups"
    ],
    "Art & Creativity": [
        "painting", "design", "writing", "theater", "crafts", "literature"
    ],
    "Misc & Social": [
        "relationships", "family", "humor", "news", "politics"
    ]
}
#and here are some more interactions and there scores
#and assuming each video is 15s
interactions = {
    "view_time": {"skip": -1,"short": -0.5, "long": +1.5,}, #where skip = <2 seconds, short = 7 seconds or less, long is for more than 7 seconds
    "like": +1,
    "comment": +2,
    "share": +3,  # we can further classify it as{"private": +2, "public": +3} where private = posting to story, public = sharing it in the DMs, but for simplicity we are keeping one score.
    "save": +3,
    "rewatch_count" : 0

    #some other examples of interaction can be:
    # "follow": +5,
    # "dislike": -1,
    # "comment_like": +0.5,
    # "comment_reply": +1
    # "comment_sentiment"
}

In [159]:

def assign_categories() :
  
    content_categories = []  
    dict = {}

    content_categories_dict_keys = list(content_categories_dict.keys())

    num_of_categories = random.randint(2, 3) #maximum of 2 categories per video
     
    for i in range(num_of_categories):
         index = random.randint(1,content_categories_dict_keys.__len__()-1 )
         key = content_categories_dict_keys[index]
         content_categories.append(key)
    
    for category in content_categories:
         values = content_categories_dict[category]
         num_of_sub_categories = random.randint(1,values.__len__()-1 ) #miminum of 1 sub category
         temp_values = []

         for i in range(num_of_sub_categories):
               value = values[random.randint(0, values.__len__()-1)]
               temp_values.append(value)

         dict[category] = set(temp_values)

            

    #making content_categories & content_categories a set to prevent duplicate tagging
    content_categories = list(set(content_categories))
#     content_sub_categories = list(set(content_sub_categories))
#     print (dict)

    return dict

In [160]:
content = []
columns = ["video_id", "category", "sub_category", "interactions","points", "score"]

#lets generate some content, in real world this is generated by the users
for i in range(100):
    video_id = f"video_{i}"
    #Lets start with selecting categories and sub categories
    categories_and_sub_categories = assign_categories()
    interactions = ''
    points = ''
    score = 0
    #formating it to get a hierachial structure in dataframe
    for key, value in categories_and_sub_categories.items():
        content.append([video_id, key, value, str(interactions), points, score])

# content_df = pd.DataFrame(content, columns=columns )
# content_df.head()
# print(content)

In [161]:
content_df = pd.DataFrame(data = content, columns=columns ,).set_index(["video_id","interactions", "points" ,"score" , "category"])
content_df.sort_index()

#Here we have a more comprehensive content now. each video is now tagged with more detailed category and a sub category.

                                                                                                       sub_category
video_id interactions points score category
video_0                      0     Entertainment                                                   {gaming, sports}
                                   Lifestyle                      {photography, fashion, home decor, beauty, tra...
video_1                      0     Inspiration & Personal Growth                                     {productivity}
                                   Misc & Social                                                    {relationships}
                                   Trends & Modern Culture                                      {startups, gadgets}
...                                                                                                             ...
video_97                     0     Lifestyle                                                  {fitness, home decor}
                                   Misc & Social                                                    {relationships}
video_98                     0     Inspiration & Personal Growth                          {productivity, self-care}
video_99                     0     Art & Creativity                         {design, painting, literature, writing}
                                   Lifestyle                                {fashion, photography, travel, fitness}

[212 rows x 1 columns]

In [162]:
content_df_export = pd.DataFrame(data = content, columns=columns ,).set_index('video_id')
content_df_export

,category,sub_category,interactions,points,score
video_id,,,,,
video_0,Lifestyle,"{photography, fashion, home decor, beauty, tra...",,,0
video_0,Entertainment,"{gaming, sports}",,,0
video_1,Misc & Social,{relationships},,,0
video_1,Inspiration & Personal Growth,{productivity},,,0
video_1,Trends & Modern Culture,"{startups, gadgets}",,,0
...,...,...,...,...,...
video_97,Lifestyle,"{fitness, home decor}",,,0
video_97,Misc & Social,{relationships},,,0
video_98,Inspiration & Personal Growth,"{productivity, self-care}",,,0
video_99,Art & Creativity,"{design, painting, literature, writing}",,,0
video_99,Lifestyle,"{fashion, photography, travel, fitness}",,,0

In [163]:
content_export = {}
category_combined = {}
interactions = {}

for video_id, data in content_df_export.iterrows():
    if video_id not in content_export.keys():
        content_export[video_id] = {}
        content_export[video_id]['category_combined'] = {}
        content_export[video_id]['interactions'] = {}
         
        content_export[video_id]['score'] = data.score 
        content_export[video_id]['category_combined'][data.category] = data.sub_category
        content_export[video_id]['interactions'][data.interactions] = data.points
        
    else:
        content_export[video_id]['score'] = data.score 
        content_export[video_id]['category_combined'][data.category] = data.sub_category
        content_export[video_id]['interactions'][data.interactions] = data.points


pd.DataFrame(content_export).to_json('data.json')

In [ ]:
# after interacting with the system for a while we have the history as follows:

In [178]:
history = pd.read_json('history.json',).T
history

,category_combined,interactions,score,view_duration
video_0,"{'Lifestyle': ['photography', 'fashion', 'home...","{'rewatch_count': 0, 'view_time': -0.5}",-0.5,15.4108
video_1,"{'Misc & Social': ['relationships'], 'Inspirat...","{'rewatch_count': 0, 'view_time': -1}",-1,17.1485
video_2,"{'Lifestyle': ['beauty'], 'Inspiration & Perso...","{'rewatch_count': 0, 'view_time': -0.5}",-0.5,337.3892
video_3,"{'Lifestyle': ['beauty'], 'Trends & Modern Cul...","{'rewatch_count': 0, 'view_time': -0.5}",-0.5,4.332
video_4,"{'Trends & Modern Culture': ['crypto', 'AI', '...","{'rewatch_count': 0, 'view_time': -0.5}",-0.5,663.8317
video_5,{'Inspiration & Personal Growth': ['productivi...,"{'rewatch_count': 0, 'view_time': -0.5}",-0.5,427.8423
video_6,"{'Education & Knowledge': ['history', 'technol...","{'rewatch_count': 0, 'view_time': -0.5}",-0.5,5.7667
video_7,"{'Education & Knowledge': ['space', 'coding', ...","{'rewatch_count': 0, 'view_time': -1, 'like': ...",3,10.7337
video_8,"{'Entertainment': ['anime'], 'Inspiration & Pe...","{'rewatch_count': 0, 'view_time': -1}",-1,6.0971
video_9,"{'Lifestyle': ['travel', 'fitness'], 'Misc & S...","{'rewatch_count': 0, 'view_time': -0.5, 'like'...",0.5,7.1489
video_10,"{'Art & Creativity': ['literature'], 'Inspirat...","{'rewatch_count': 0, 'view_time': -0.5}",-0.5,3.0804
video_11,"{'Misc & Social': ['humor', 'family', 'politic...","{'like': 1, 'rewatch_count': 0, 'view_time': -...",0.5,3.4495
video_12,"{'Trends & Modern Culture': ['cars', 'crypto',...","{'like': 1, 'comment': 2, 'share': 3, 'rewatch...",8.5,9.7328
video_13,"{'Entertainment': ['tv shows', 'movies', 'danc...","{'rewatch_count': 12, 'view_time': 1.5}",13.5,174.8038
video_14,{'Misc & Social': ['relationships']},"{'rewatch_count': 200, 'view_time': 1.5}",201.5,2999.1476